<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RENTSPOT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap-theme.css}"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          />

</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RENTSPOT</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{addOffer}">Add Offer</a></li>
                <li><a th:href="@{addParam}">Add Parameters</a></li>
                <li><a th:href="@{paramList}">Parameters List</a></li>
                <li><a th:href="@{/}">Offers List</a></li>
            </ul>
        </div>
    </div>
</nav>

<div th:switch="${offers}">
    <h2 th:case="null">No offers yet!</h2>
    <div th:case="*">
        <h2>Offers</h2>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Header</th>
                <th>Description</th>
                <th>Landlord</th>
                <th>Parameters</th>
            </tr>
            </thead>
            <tbody>
            <tr th:style="${offer.marked ? 'background-color: #e2db5c':''}" th:each="offer : ${offers}">

                <td th:text="${offer.id}"></td>
                <td><img style="margin: auto;height: 30%;display: block;" th:src="@{images/appart.jpg}" src="../static/images/appart.jpg"></td>
                <td th:text="${offer.header}"></td>
                <td th:text="${offer.description}"></td>
                <td th:text="${offer.landlord.surname}"></td>
                <td>
                    <ul class="pager" th:each="parameter : ${offer.parameters}">
                    <li th:text="${parameter.name}"></li>
                    <li th:text="${parameter.value}"></li>
                </ul>
                </td>



            </tr>
            </tbody>
        </table>



    </div>
    <!--<p><a href="/signup">Add a new user</a></p>-->
</div>
<!--/*@thymesVar id="offer" type="com.chepiv.rentspot.domain_core.Offer"*/-->
<form class="container" style="display: block;horiz-align: center;vertical-align: center;text-align: left" action="#" th:action="@{/reserveOffer}" th:object="${offer}" method="post">
    <div class="form-group"><label for="offer-id">Offer ID</label>
        <input type="number" th:field="*{reserveId}" id="offer-id" placeholder="Offer ID">
    </div>

    <button  class="btn btn-primary" type="submit" value="Mark Offer">Mark Offer</button>
</form>
<!-- /.container -->

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>